{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <h3 class="card-header m-3 bg-light">Write Your Blog</h3>
    <div class="row m-5">
        <div class="col-sm-5">
            <form method="POST" class="form" enctype="multipart/form-data">

                {% csrf_token %}
                <label>Title:</label>
                    <input class="form-control" type="text" name="title" maxlength="200" required id="id_title">
                <label>Image</label>
                <div class="custom-file mb-3">
                    <input class="custom-file-input" type="file" name="img" accept="image/*" required id="id_img">
                 <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
                <label>Description:</label>
                <textarea class="form-control" name="description" cols="40" rows="10" required id="id_description">
</textarea>
                <div class="text-center mt-4">
                    <input class="form-control btn btn-warning" type="submit" value="submit">
                </div>
</form>
        </div>
    </div>
</div>


<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}